{% extends 'headerPage.html' %}
{% load static %}
{% block content%}

 <section id="appointment" class="appointment section-bg">
      <div class="container">
         <div class="section-title" id="myform">
          <h2>Please Enter Details</h2>
          <p>You're about to use a safe and anonymous COVID-19 predictor based on the symptoms and some information that applies to your current feeling and situation.
              Your answers will be carefully analyzed using a machine learning algorithm. To start, kindly click the
              following choices after that, click the predict button.
          </p>
        </div>
         {% if covidval %}
                <script> window.location.href = "#prediction_result" </script>

                <form method="post" enctype="multipart/form-data" action="updateCovidDatabase">
                    {% else %}
       <form method="post" enctype="multipart/form-data" action="predictCovidDisease">
            {% endif %}

     {% csrf_token %}

<style>
    .img-thumbnail{
  width: 180px;
  height: 180px;
}

</style>
<div class="text-center">
     <div class="form-row">
         <div class="col-md form-group">Breathing Problem
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="BreathingProblemID" value="bp">
                <label class="custom-control-label shadow-sm" for="BreathingProblemID">
                    <img src="{% static 'assets/img/breathing.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Fever
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="FeverID" value="fever">
                <label class="custom-control-label shadow-sm" for="FeverID">
                    <img src="{% static 'assets/img/fever.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Dry Cough
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="DryCoughID" value="drycough">
                <label class="custom-control-label shadow-sm" for="DryCoughID">
                    <img src="{% static 'assets/img/cough.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Sore Throat
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="SorethroatID" value="sorethroat">
                <label class="custom-control-label shadow-sm" for="SorethroatID">
                    <img src="{% static 'assets/img/sorethroat.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
             </div>
        </div>
     </div>


     <div class="form-row">
         <div class="col-md form-group">Runny Nose
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="RunningNoseID" value="runningnose">
                <label class="custom-control-label shadow-sm" for="RunningNoseID">
                    <img src="{% static 'assets/img/runnynose.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Asthma
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="AsthmaID" value="asthma">
                <label class="custom-control-label shadow-sm" for="AsthmaID">
                    <img src="{% static 'assets/img/asthma.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Headache
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="HeadacheID" value="headache">
                <label class="custom-control-label shadow-sm" for="HeadacheID">
                    <img src="{% static 'assets/img/headache.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Heart Disease
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="HeartDiseaseID" value="heartdisease">
                <label class="custom-control-label shadow-sm" for="HeartDiseaseID">
                    <img src="{% static 'assets/img/heart2.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
             </div>
        </div>
     </div>

     <div class="form-row">
         <div class="col-md form-group">Diabetes
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="DiabetesID" value="diabetes">
                <label class="custom-control-label shadow-sm" for="DiabetesID">
                    <img src="{% static 'assets/img/diabetes.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Hypertension
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="HypertensionID" value="hypertension">
                <label class="custom-control-label shadow-sm" for="HypertensionID">
                    <img src="{% static 'assets/img/hypertension.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Fatigue
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="FatigueID" value="fatigue">
                <label class="custom-control-label shadow-sm" for="FatigueID">
                    <img src="{% static 'assets/img/fatigue.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Abroad Travel
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="AbroadTravelID" value="abroad">
                <label class="custom-control-label shadow-sm" for="AbroadTravelID">
                    <img src="{% static 'assets/img/abroad2.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
             </div>
        </div>
     </div>

     <div class="form-row">
         <div class="col-md form-group">Contact to Covid Patient
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="ContactCovidPatientID" value="contact">
                <label class="custom-control-label shadow-sm" for="ContactCovidPatientID">
                    <img src="{% static 'assets/img/contact.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Attended Large Gathering
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="AttendedLargeGatheringID" value="attended">
                <label class="custom-control-label shadow-sm" for="AttendedLargeGatheringID">
                    <img src="{% static 'assets/img/large.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Visited Public Areas
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="VisitedPublicID" value="visited">
                <label class="custom-control-label shadow-sm" for="VisitedPublicID">
                    <img src="{% static 'assets/img/visited.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Family Working in Public
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="FamilyWorkingPublicID" value="fam">
                <label class="custom-control-label shadow-sm" for="FamilyWorkingPublicID">
                    <img src="{% static 'assets/img/public.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
             </div>
        </div>
     </div>
<br>
<br>

        {%  if covidval  %}
            {%  if covidval == "positive"  %}
            <div class="alert alert-danger" id="prediction_result">
                <h1 class="bx bxs-error"></h1>
                <h4>It seems like you need help and potentially  </h4>
                <h2><u><b> COVID-19 Positive.</b> </u></h2>
                <p>For your safety, please call your medical provider immediately.</p>
                <p>To obtain an official PCR test certification, we'd suggest to please follow the usual process and undergo PCR/Swab test.</p>
            </div>
            {%  else  %}
            <div class="alert alert-info" id="prediction_result">
                <h1 class="bx bxs-info-circle"></h1>
                <h4>You seem fine and </h4>
                <h2><u><b> COVID-19 Negative.</b> </u></h2>
                <p>Still kindly observe safety precautions against the virus and be aware of the <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" class="more-btn">WHO's Advice to the Public.</a></p>
                <p>To obtain an official PCR test certification, we'd suggest to please follow the usual process and undergo PCR/Swab test.</p>
            </div>
            {% endif %}
         <a href="/" class="navbar-brand">Predict Again?</a>
         {% else%}
            <div class="php-email-form text-center" id="predict-button"><button type="submit">Predict</button></div>
         {% endif %}

        </form>
     </div>
    </section>
        <br>
     {% endblock %}
